.page-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}




.f-hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
  /* object-fit: contain; */
  

}

 .f-hero-container .title{
  width: 1050px;
  margin-top: 50px;
 }

 .f-hero-container > h1{
 font-size: 40px;
  margin-top: 100px;
  font-family: 'Pragmatica ExtraLight', sans-serif;
  color: rgba(71, 67, 67, 0.938);
  letter-spacing: 2.5px;

 }
 .f-hero-container > h2 {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 2.5px;
  font-family: 'Pragmatica ExtraLight', sans-serif;
  color: rgba(71, 67, 67, 0.938);
  
 }

h3 {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: 2.5px;
  font-family: 'Pragmatica ExtraLight', sans-serif;
  color: rgba(71, 67, 67, 0.938);
  text-align: center;
  
 }
 
 
.p-center {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color:rgba(71, 67, 67, 0.938);
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 30px;
  padding: 5% 10%;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
;
}

.p-center a{
  padding: 2.5%;
  color:rgba(71, 67, 67, 0.938);
  text-decoration: underline;
  font-weight: bolder;
}


.p-center a:hover{
  color:rgba(25, 7, 7, 0.938);
  background-color: #5555551d;
}


.bold{
  font-weight:bold;
}

/* .p-left {
  font-family: 'Inter', sans-serif;
  justify-content: left;
  color: rgba(71, 67, 67, 0.938);
  letter-spacing: 1.5px;
  font-size: 20px;
  line-height: 30px;
} */
.pdfwrapper{
  flex-flow: column;
  align-items: center;
  max-width: 95%;
  margin: auto auto;
}
.pdfviewer{
  height: 90vh;
  width: 100%;
  justify-self: center;
  border: 1px;
}

 .prayer-fasting-container{
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;
  width: 70%;
  margin: auto auto;
 }

 .prayer-fasting-container > h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Inter', 'sans-serif';
  color: rgba(71, 67, 67, 0.938);
 }

.fasting-video-wrapper{
  overflow: hidden;
  border: 0;
  align-self: center;
  position: relative;
  height: 950px;
  min-width: 350px;
  display: flex;
  align-items: center;
  width: 100%;
}

a{
  text-decoration: none;
}
 ul{
  text-align: start;
  padding-left: 20px;
 }

 li{
  font-family: 'Inter', 'sans-serif';
  font-weight: bold;
 }

.btn-wide{
text-align: center;
margin: auto ;
display: flex ;
background-color: transparent;
color:rgba(71, 67, 67, 0.938);
border: 5px solid #555555;
border-radius: 20px;
padding: 20px;
font-size: 30px;
font-weight: bold;
font-family: 'Inter', 'sans-serif';

}

.btn-pray{
  text-align: center;
  margin: auto ;
  display: flex ;
  background-color: rgba(253, 244, 244, 0.938);
  color: rgba(71, 67, 67, 0.938);
  border: 5px solid rgba(71, 67, 67, 0.938);
  border-radius: 20px;
  padding: 20px 100px 20px 100px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inter', 'sans-serif';
  line-height: 30px;
}
.btn-pray:hover{
  background-color:#9a9393ef ;
color: white ;
}


.btn-grp{
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter', 'sans-serif';
  font-weight: bold;
}

.btn-small{
text-align: center;
margin: auto ;
display: flex ;
background-color: rgba(253, 244, 244, 0.938);
color: rgba(71, 67, 67, 0.938);
border: 4px solid rgba(71, 67, 67, 0.938);;
border-radius: 20px;
padding: 15px 20px ;
font-size: 20px;
margin: 15px;
font-family: 'Inter', 'sans-serif';
font-weight: bold;
}

.btn-small:hover{
  background-color:#9a9393ef ;
color: white ;

}

.btn-active{
  background-color:rgba(71, 67, 67, 0.938) ;
color: white ;

}



.btn-small:disabled,
btn-small [disabled] {
  text-align: center;
  margin: auto ;
  display: flex ;
  background-color: rgba(98, 95, 95, 0.938) ;
  color: rgba(166, 152, 152, 0.938);
  border: 4px solid rgba(71, 67, 67, 0.938);;
  border-radius: 20px;
  padding: 15px 20px ;
  font-size: 20px;
  margin: 15px;
  font-family: 'Inter', 'sans-serif';
  font-weight: bold;
    }

.form{
  height: 1250px;
  width: 100%;

}


.section-header{
  font-size: 45px;
  font-family: 'Pragmatica ExtraLight', sans-serif;
  color: rgba(71, 67, 67, 0.938);
  letter-spacing: 4px;
  margin:  0;
  padding: 0 20px;
}

.img-left {

  width: 70%;
  min-width: 380px;
  align-self: flex-start;
}

iframe{
  overflow: hidden;
  border:0;
  align-self: center;
  position: relative;
  width: 80%;
  height: 70%;
  margin: 0 auto; 
}

    @media screen and (max-width: 1000px) {
      .f-hero-container > h1 {
        font-size: 50px;
        margin-top: 150px;
      }
      .f-hero-container  .title{
        width: 900px;
        margin-top: 50px;
      }

      .btn-wide{
        margin: auto 40px;
        padding: 15px;
          }
    }

    @media screen and (max-width: 767px) {
      .f-hero-container  .title{
        width: 100%;
        margin-top: 50px;
      }
      
      .f-hero-container > h1 {
        font-size: 40px;
        margin-top: 130px;
        margin-left: 30px;
        margin-right: 30px;
      }

      .btn-wide{
    margin: auto 40px;
    padding: 15px;
      }


      .f-hero-container > h2 {
        font-size: 25px;
      }

      .btn-mobile {
        display: block;
        text-decoration: none;
      }

      .btn {
        width: 100%;
      }
    }


.img-wrapper{
  margin: 0;
  display: block;
  justify-content: center;
  align-items: center;

}

.bottom-pic{
  width: 20%;
  display: block;
  margin: auto;

}


.spotify-container {
  display: flex;
  justify-content: center;
  align-items: center;
margin: 5%;
  align-content: center;
}

.spotify-iframe {
  width: 80%; /* Adjust the width as needed */
  
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .spotify-iframe {
    width: 100%;
  }
}